<style>

  nav{
    color: #e3b00d;
  }
  nav li a{
    font-size: 30px;
    background-color: #000;
    text-align: center;
    justify-content: center;
  }
  nav li a:hover{
    color: #ec2a0e;
    font-size: 1.5em;
  }
  h1 {
    color: magenta;
    font-size: 24px;
  }
  h2 {
    color: blue;
    font-size: 13px;

  }
  p {
    color: gray;
    background-color: #01017b;

    max-width: 60%;
    line-height: 1.5em;
  }
  .headers {
    opacity: 1;
  }
  #journey{
    color: blue;
  }
  #journey:hover {
    color: purple;
  }
  #well {
    font-size: 55px;
    font-family: sans-serif;
    color:red;
  }
  #progress{
    color: #ec0ea9;
  }
  body{
    background-color: #9590eb;
    background: linear-gradient(45deg, #9590eb 0%, #62e4ff 100%);
  }

  footer{
    color: rgba(50,220,255,1);
  }

</style>
